version: "3.8"

services:
  pythonapp:
    build: ./python/
    command: sh -c "sleep 10s ; python3 ./app.py"
    depends_on:
      - mysql

  mysql:
    build: ./mysql/
    restart: always
    environment:
      MYSQL_DATABASE: 'infodb'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - '8888:3306'